<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 405 - Método Não Permitido</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="error-page">
    <h1>Erro 405</h1>
    <p>O método HTTP utilizado não é permitido para este recurso.</p>
    <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
</div>
</body>
</html>
