<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Morador</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Cadastro de Morador</h1>
    <div class="alert alert-success" th:if="!${#strings.isEmpty(mensagem)}" th:text="${mensagem}">
    </div>
    <form th:action="@{/morador/cadastrar}" th:object="${morador}" method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" th:field="*{nome}" class="form-control">
            <p th:if="${#fields.hasErrors('nome')}" class="text text-danger" th:errors="*{nome}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">CPF</label>
            <input type="text" th:field="*{cpf}" class="form-control">
            <p th:if="${#fields.hasErrors('cpf')}" class="text text-danger" th:errors="*{cpf}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Data de Nascimento</label>
            <input type="date" th:field="*{dataNascimento}" class="form-control">
            <p th:if="${#fields.hasErrors('dataNascimento')}" class="text text-danger" th:errors="*{dataNascimento}"></p>
        </div>

        <button class="btn btn-success">Cadastrar</button>
    </form>
</div>
</body>
</html>