<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Residentes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .details-list {
            padding-left: 20px;
            list-style-type: none;
        }
    </style>
</head>
<body>
<div layout:fragment="conteudo" class="container mt-4">
    <h1 class="text-center">Moradores</h1>
    <div class="alert alert-success" th:if="!${#strings.isEmpty(mensagem)}" th:text="${mensagem}"></div>


    <div class="list-group">
        <div class="list-group-item" th:each="mora : ${moradores}">

            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0" style="cursor:pointer;" data-bs-toggle="collapse" th:attr="data-bs-target='#details-' + ${mora.id}">
                    <i class="bi bi-caret-down-fill"></i> <span th:text="${mora.nome}"></span>
                </h5>
                <div>
                    <a   sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/morador/editar/}+${mora.id}" class="btn btn-outline-primary btn-sm">Editar</a>
                    <button   sec:authorize="hasRole('ROLE_ADMIN')"  th:onclick="|moraId.value = ${mora.id}|" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Remover</button>
                </div>
            </div>

            <div th:id="'details-' + ${mora.id}" class="collapse mt-3">
                <ul class="details-list">
                    <li><strong>CPF:</strong> <span th:text="${mora.cpf.substring(0, 3) + '.***.***-**'}"></span></li>
                    <li><strong>Data de Nascimento:</strong> <span th:text="${#temporals.format(mora.dataNascimento, 'dd/MM/yyyy')}"></span></li>
                    <li><strong>Mora em:</strong> <span th:text="${mora.residencia?.endereco.logradouro}"></span>, <span th:text="${mora.residencia?.endereco.numero}"></span>, <span th:text="${mora.residencia?.endereco.complemento}"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <a   sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/morador/cadastrar}" class="btn btn-outline-primary ">Cadastrar</a>


    <!-- Modal de Confirmação -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja continuar com a exclusão? Essa ação não pode ser desfeita.
                </div>
                <div class="modal-footer">
                    <form th:action="@{/morador/remover}" method="post">
                        <input type="hidden" name="id" id="moraId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
