<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Fatura</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h1 {
            font-size: 1.75rem;
            color: #333;
            margin-bottom: 1.5rem;
            text-align: center;
        }
        .form-label {
            font-weight: 500;
        }
    </style>
</head>
<body>
<div layout:fragment="conteudo" class="form-container">
    <h1>Cadastrar Fatura</h1>

    <div class="alert alert-success" th:if="!${#strings.isEmpty(mensagem)}" th:text="${mensagem}">
    </div>

    <form th:action="@{/fatura/cadastrar}" th:object="${fatura}" method="post">

        <div class="mb-3">
            <label class="form-label">Valor da Fatura</label>
            <input type="number" step="0.01" th:field="*{valor}" class="form-control" placeholder="Valor em reais">
            <p th:if="${#fields.hasErrors('valor')}" class="text-danger small" th:errors="*{valor}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Consumo (kWh)</label>
            <input type="number" step="0.01" th:field="*{kWh}" class="form-control" placeholder="Consumo em kWh">
            <p th:if="${#fields.hasErrors('kWh')}" class="text-danger small" th:errors="*{kWh}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Mês referencia</label>
            <input type="date" step="0.01" th:field="*{mesReferencia}" class="form-control" placeholder="Data da conta">
            <p th:if="${#fields.hasErrors('mesReferencia')}" class="text-danger small" th:errors="*{mesReferencia}"></p>
        </div>


        <div class="mb-3">
            <label class="form-label">Bandeira Tarifária</label>
            <select th:field="*{bandeira}" class="form-select">
                <option value="">Selecione</option>
                <option th:each="band:${bandeira}"
                        th:value="${band}" th:text="${band.label}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Residência</label>
            <select th:field="*{residencia.id}" class="form-select">
                <option th:each="r : ${residencias}" th:value="${r.id}" th:text="${r.endereco.logradouro} + ' ' + ${r.endereco.numero}"></option>
            </select>
            <p th:if="${#fields.hasErrors('residencia')}" class="text-danger small" th:errors="*{residencia}"></p>
        </div>

        <div class="d-grid">
            <button class="btn btn-success btn-lg">Cadastrar</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
